before_cache:
 - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
 - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
 directories:
 - $HOME/.gradle/caches/
 - $HOME/.gradle/wrapper/
language: android
android:
  components:
    - build-tools-28.0.3
    - android-21
    - android-22
    - android-23
    - android-24
    - android-25
    - android-26
    - android-27
    - android-28
script:
  - "./gradlew ktlint"
  - "./gradlew clean build"
  - "./gradlew test jacocoTestReport"
after_success:
  - bash <(curl -s https://codecov.io/bash)
